@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Pretendard';
		src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
			format('woff');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Pretendard';
		src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
			format('woff');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'Pretendard';
		src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
			format('woff');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Pretendard';
		src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
			format('woff');
		font-weight: 900;
		font-style: normal;
	}

	* {
		font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
			'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	}

	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		outline: none;
	}

	input[type='date']::-webkit-inner-spin-button,
	input[type='date']::-webkit-calendar-picker-indicator {
		display: none;
		-webkit-appearance: none;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}

	/* Change the white to any color */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px black inset !important;
	}

	/*Change text in autofill textbox*/
	input:-webkit-autofill {
		-webkit-text-fill-color: white !important;
	}
}

@layer components {
	.gradient-primary {
		@apply bg-gradient-to-r from-[#215AEF] to-[#62AEBE];
	}
	.text-gradient-primary {
		@apply bg-gradient-to-r from-[#215AEF] to-[#62AEBE] bg-clip-text text-transparent;
	}
	.title-color-primary {
		@apply text-[#215AEF];
	}
	.progressbar-color-primary {
		@apply bg-[#3B82F6];
	}
	.text-gradient-secondary {
		@apply bg-gradient-to-r from-[#3D81B2] to-[#BFF1E2] bg-clip-text text-transparent;
	}
	.title-color-secondary {
		@apply text-[#3B82F6];
	}
}
